#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-gray-400);
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary-300);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-500);
  cursor: pointer;
}

.my-exercise-list::-webkit-scrollbar-track {
  border-radius: 4px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
button {
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
