@import 'tailwindcss';

/* Tailwind v4 theme */
@theme {
  --color-light: #ffffff; /* background, text on dark background */
  --color-background: #ebebeb; /* backup */

  --color-primary-300: #ffcc21;
  --color-primary-400: #ff963c; /* main, icons, logos */
  --color-primary-500: #ea6c00; /* notification badges */
  --gradient-primary-300-400: linear-gradient(
    to right,
    var(--color-primary-300),
    var(--color-primary-400)
  ); /* buttons */
  --color-primary-300-400: var(--gradient-primary-300-400);

  --color-secondary-300: #8fe9d0; /* graphs */

  --color-dark-600: #2e2e2e; /* darkest bg */
  --color-dark-500: #414141; /* main text, header & footer bg */
  --color-gray-400: #777777; /* lines */
}

@utility bg-primary-300-400 {
  background-image: var(--gradient-primary-300-400);
}
@font-face {
  font-family: 'HiraginoW3';
  src: url('/fonts/Hiragino_Kaku_Gothic_ProN_W3.otf') format('otf');
  font-display: swap;
}
@font-face {
  font-family: 'HiraginoW6';
  src: url('/fonts/Hiragino_Kaku_Gothic_ProN_W6.otf') format('otf');
  font-display: swap;
}

:root {
  font-family: 'HiraginoW3', 'HiraginoW6', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: var(--color-light);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
